<html>
<body>
    <div>
        <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" /> <!--Любой запрос  не имеющий эту форму - будет игнорироваться-->
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
    <div> <!--подключаем базу -->
        <form method="post">
            <input type="text" name="text" placeholder="Enter your message"/>
            <input type="text" name="tag" placeholder="add any tag">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <button type="submit">Add your message!</button>
            <!--добавили, теперь нужно обрабатывать POSTMappingом
             будет отправляться на тот же адрес с которого пришла страничка-->

        </form>
    </div>
    <div>Список сообщений</div>
    <form method="post" action="filter">
        <input type="text" name="filter">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <button type="submit">Find by tag</button>
    </form>
    {{#messages}}
        <div>
            <b>{{id}}</b>
            <span>{{text}}</span>
            <i>{{tag}}</i>
        </div>
    {{/messages}}
</body>
</html>